name: Docker Build Push

on: [push]

jobs:
  build:
    name: Build Push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Docker Build
        run: docker build -f Dockerfile.DAL -t ${{ secrets.DOCKER_USERNAME }}/ehealth-dal:${GITHUB_SHA:0:8} .
      - name: Docker Login
        run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Docker Push
        run: docker push ${DOCKER_USERNAME}/ehealth-dal:${GITHUB_SHA:0:8}
